<template>
    <div id="about">
        <h4><b>About Me</b></h4>
    </div>
</template>

<script>
    export default {
        name: "about",

        mounted() {
            // Tostr notifications
            this.$toastr.s("SUCCESS MESSAGE", "Success Toast Title");
            this.$toastr.e("ERRROR MESSAGE");
            this.$toastr.w("WARNING MESSAGE");
            this.$toastr.i("INFORMATION MESSAGE");
        }
    }
</script>
<style scoped>
</style>
