{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

{% if not app.user %}
    <div class="mb-3">
        Login <a href="{{ path('app_login') }}">Login</a>
    </div>
{% endif %}
    <router-view></router-view>
{% endblock %}
